@{
    ViewData["Title"] = "Trang chủ";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Chào mừng đến Film Website</h1>
            @if (User.Identity!.IsAuthenticated)
            {
                <p class="lead">Xin chào @User.Identity.Name! Chúc bạn xem phim vui vẻ.</p>
            }
            else
            {
                <p class="lead">Vui lòng <a asp-controller="Account" asp-action="Login">đăng nhập</a> hoặc <a asp-controller="Account" asp-action="Register">đăng ký</a> để xem phim.</p>
            }
        </div>
    </div>
</div>